{% extends 'core/base.html' %}

<!DOCTYPE html>
{% block title %} About {% endblock %}

{% block content %}
    <h1 class="text-center">ABOUT</h1>
    <p class="text-justify" id="about-p">The main motive of eVisit HealthCare is to provide a reliable service to our users with guaranteed privacy. This website holds the details of the patient to book their appointment with the doctors and can view their previous appointments. The main objectives of this hospital management system includes: (1) display information about the doctors, nurses, and staff in the hospital; (2) feature that can schedule appointments; and (3) displaying information about hospital inventory and determine its availability</p>
    <p class="text-justify" id="about-p1">The patient can view the doctors of their specialization, so that they can book an appointment with the respective doctor of their interest. </p>
    <p class="text-justify" id="about-p-1">The Receptionist in the organization will handle the outpatients coming to the hospital and maintain the payments for the consultation through offline. The Admin can add new Doctors, Receptionists, view all the appointments, view the prescriptions given to the patients by doctors.</p>
{% endblock %}
