{% extends 'core/base.html'%}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto bg-grey-lightest border border-grey-lighter p-10">
        <h1 class="text-center text-2xl font-normal mb-10">Sign up</h1>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded mt-10">Sign up</button>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <h3>My sidebar</h3>
{% endblock %}

{% block footer %}
    <p>My footer</p>
{% endblock %}

{% block scripts %}
    <script src="my-script.js"></script>
{% endblock %}
```

```python
```